.productCardWrapper {
  width: 30%;
  background-color: rgb(223, 219, 219);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ededed;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.productCardName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productCardButton {
  padding: 0.5rem 0.8rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(18, 44, 122);
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: medium;
  transition: all 0.2s ease-in-out;
}

.productCardButton:hover {
  background-color: green;
}
